In [3]:
f = 'surya'
print(f)

surya

In [6]:
1name = 'akhil' #Variable should not start with number or special characters
print(1name)

SyntaxError: invalid syntax (<ipython-input-6-9b40982752ad>, line 1)

In [7]:
n1= 'Sannithi'#Number could be present at the end of the variable or in between
print(n1)

Sannithi

In [12]:
n@ ='sss'# variables should not contain special characters
print(n@)

SyntaxError: invalid syntax (<ipython-input-12-5bd5762a03b4>, line 1)

In [13]:
name1 = 'surya' #String defined in single quote
print(name1)

surya

In [15]:
name2= "surya" #String defined in Double quote
print(name2)

surya

In [16]:
n2= '''sury''' #String defined in triple quote
print(n2)

sury

In [17]:
type(n2)# type is a string method which defines the data type i.e string

str